.fx_subgroup_head{
   
    font-weight: 550;
}
.fx_formGroup{
    
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.iconSize{
  font-size: 24px;
}
.fx_border_bottom{
  border-bottom: 1.5px solid #949494;
  padding-bottom: 5px;

  margin-bottom: 10px;
}