


<form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
<h2 mat-dialog-title>Create Property</h2>
<mat-dialog-content  class="mat-typography">
  <div>
    <div class="content">
      <div fxFlex="100%"  fxLayout="column wrap" fxLayoutGap="15px" >
          <div fxFlex="25%"  style="font-size: 12px;opacity:0.7">
            Holding Company
          
            </div>
            <div fxFlex="25%">
                {{holdingCompanyData.holdingCompanyName}}
              </div>
            
            </div>
            <div fxFlex="100%"  fxLayout="column wrap" fxLayoutGap="15px" >
                <div fxFlex="25%"  style="font-size: 12px;opacity:0.7">
                    Group
                   
                     </div>
            <div fxFlex="25%" >
              {{holdingCompanyData.groupName}}
              </div>
            
          </div>
</div>
    <div formArrayName="formArray1" *ngFor="let property of f.formArray1['controls']; let ix=index" [attr.data-index]="i">
      <mat-accordion formGroupName="{{ix}}">
   
        <mat-expansion-panel [expanded]="DataArray[ix].PanelOpenState"  hideToggle="true" class="mat-elevation-z0"  (opened)="DataArray[ix].PanelOpenState = true"
                             (closed)="DataArray[ix].PanelOpenState = false" >
                           
          <mat-expansion-panel-header #panelH (click)="panelH._toggle()">
            <mat-panel-title>
      
      <div class="content" (click)="panelH._toggle()">
        <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="fx_border_bottom" >
            <div fxFlex="80%" fxFlex.xs="75%" fxFlex.sm="100%" class="fx_subgroup_head">
                Property {{ix+1}}            
              </div>
              <div fxFlex="18%" fxFlex.xs="20%" fxLayoutAlign="end" >
                  
                <i  *ngIf="!DataArray[ix].PanelOpenState" class="fas fa-angle-down themecolor iconSize moreicon"></i>
                <i *ngIf="DataArray[ix].PanelOpenState" class="fas fa-angle-up themecolor iconSize moreicon"></i>
               
            </div>
              
            </div>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
   
      <div class="content-0">
      
     
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
        <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Code</mat-label>
                <input matInput  placeholder="Code" formControlName="propertyCode">
                <mat-error
                *ngIf="property['controls'].propertyCode.hasError('required')">
                Code is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Name</mat-label>
                <input matInput #input placeholder="Name" formControlName="propertyName">
                <mat-error
                *ngIf="property['controls'].propertyName.hasError('required')">
                Group Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="48%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Address</mat-label>
                <input matInput #input placeholder="Address" formControlName="propertyAddress">
                <mat-error
                *ngIf="property['controls'].propertyAddress.hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
    </div>
    <div class="content">
        <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" >
            <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
              
                <mat-form-field  [style.width.%]="100" floatLabel="always">
                    <mat-label>Country</mat-label>
                    <mat-select placeholder="Select Country" (selectionChange)="getStateList($event.value,ix)" formControlName="propertyCountry">
                     
                      <mat-option *ngFor="let country of DataArray[ix].countryList" [value]="country.countryID">{{country.countryName}}</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="property['controls'].propertyCountry.hasError('min')">
                    Country is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-form-field [style.width.%]="100" floatLabel="always"> 
                    <mat-label>State</mat-label>
                    <mat-select placeholder="Select State"   (selectionChange)="getCityList($event.value,ix)" formControlName="propertyState">
                     
                      <mat-option *ngFor="let state of DataArray[ix].stateList" [value]="state.stateID">{{state.stateName}}</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="property['controls'].propertyState.hasError('min')">
                    State is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-form-field [style.width.%]="100" floatLabel="always"> 
                    <mat-label>City</mat-label>
                    <mat-select placeholder="Select City" formControlName="propertyCity">
                    
                      <mat-option *ngFor="let city of DataArray[ix].cityList" [value]="city.cityId">{{city.name}}</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="property['controls'].propertyCity.hasError('min')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="22%" fxFlex.xs="100%" fxFlex.sm="50%">
                <mat-form-field [style.width.%]="100" floatLabel="always"> 
                    <mat-label>Pin/Zip</mat-label>
                    <input matInput #input placeholder="Pin/Zip" formControlName="propertyPinZip">
                    <mat-error
                    *ngIf="property['controls'].propertyPinZip.hasError('required')">
                    PinZip is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
</div>
<div class="content">
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
        
          <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Phone Number</mat-label>
                <input matInput #input placeholder="Phone Number" formControlName="propertyPhone">
                <mat-error
                *ngIf="property['controls'].propertyPhone.hasError('required')">
                Phone is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Hotel Type</mat-label>
                <mat-select placeholder="Select Hotel Type" formControlName="propertyHotelType">
                  
                  <mat-option *ngFor="let hotelType of DataArray[ix].hotelTypeList" [value]="hotelType.hotelTypeID">{{hotelType.name}}</mat-option>
                </mat-select>
                <mat-error
                *ngIf="property['controls'].propertyHotelType.hasError('min')">
                HotelType is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%" fxLayout="row wrap">
      
             
                <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-form-field [style.width.%]="100" floatLabel="always"> 
                    <mat-label>Check in Time</mat-label>
                    <div fxFlex="20%"><i class="fas fa-clock"></i></div>
                    <div fxFlex="80%">
                      <input matInput #input placeholder="Check in" [ngxTimepicker]="inpicker" formControlName="propertyCheckIn">
                 
                      <ngx-material-timepicker #inpicker></ngx-material-timepicker>
                   
                    </div>
                    <mat-error
                    *ngIf="property['controls'].propertyCheckIn.hasError('required')">
                    CheckIn  is <strong>required</strong>
                  </mat-error>
                    
                </mat-form-field>
                </div>
                <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                  <mat-form-field [style.width.%]="100" floatLabel="always"> 
                    <mat-label>Check Out Time</mat-label>
                    <div fxFlex="20%"><i class="fas fa-clock"></i></div>
                    <div fxFlex="80%">
                      <input matInput #input placeholder="Check out"  [ngxTimepicker]="outpicker" formControlName="propertyCheckOut">
                     
                      <ngx-material-timepicker #outpicker></ngx-material-timepicker>
                     
                    </div>
                    <mat-error
                      *ngIf="property['controls'].propertyCheckOut.hasError('required')">
                      CheckOut is <strong>required</strong>
                    </mat-error>
                    
                </mat-form-field>
                </div>   
          </div>
          <div fxFlex="22%" fxFlex.xs="100%" fxFlex.sm="50%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Website</mat-label>
                <input matInput #input placeholder="Website" formControlName="propertyWebsite">
                <mat-error
                *ngIf="property['controls'].propertyWebsite.hasError('required')">
                Website is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" >
      <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-form-field  [style.width.%]="100" floatLabel="always">
              <mat-label>WeekDays</mat-label>
              <mat-select placeholder="Select Weekday" formControlName="propertyWeekDays" multiple>
             
                <mat-option *ngFor="let day of DataArray[ix].dayList" [value]="day.dayID">{{day.name}}</mat-option>
              </mat-select>
              <mat-error
              *ngIf="property['controls'].propertyWeekDays.hasError('required')">
              WeekDay is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>Weekends</mat-label>
              <mat-select   placeholder="Select WeekEnd" formControlName="propertyWeekends" multiple>
              
                <mat-option *ngFor="let day of DataArray[ix].dayList" [value]="day.dayID">{{day.name}}</mat-option>
              </mat-select>
              <mat-error
              *ngIf="property['controls'].propertyWeekends.hasError('required')">
              WeekEnd is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="24%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>Currency</mat-label>
              <mat-select placeholder="Select Currency"  formControlName="propertyCurrency">
                
                <mat-option *ngFor="let currency of DataArray[ix].currencyList" [value]="currency.currencyID">{{currency.currencyCode}}</mat-option>
              </mat-select>
              <mat-error
              *ngIf="property['controls'].propertyCurrency.hasError('min')">
              Currency is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="22%" fxFlex.xs="100%" fxFlex.sm="50%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
            <mat-label>Other Currency</mat-label>
            <mat-select  formControlName="propertyOtherCurrency" placeholder="Select Other Currency" multiple>
              
              <mat-option *ngFor="let currency of DataArray[ix].currencyList" [value]="currency.currencyID">{{currency.currencyCode}}</mat-option>
            </mat-select>
            <mat-error
            *ngIf="property['controls'].propertyOtherCurrency.hasError('required')">
           Other Currency is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        </div>
      </div>
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
    <mat-form-field class="network-ip-chip-list" floatLabel="always">
      <mat-label>Property Network IP</mat-label>
      <mat-chip-list #chipList aria-label="IP selection">
        <mat-chip *ngFor="let netWorkIP of DataArray[ix].networkIPs" [selectable]="selectable"
                 [removable]="removable" (removed)="removeNetworkIP(netWorkIP , ix)" >
          {{netWorkIP.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input formControlName="propertyNetworkIP" placeholder="Network IP"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="addNetworkIP($event,ix)">
      </mat-chip-list>
      <mat-error>Atleast 1 ip need to be added</mat-error>
    </mat-form-field>
    </div>
    </div>
    <div class="content">
      <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
     
        <mat-form-field class="network-ip-chip-list" floatLabel="always">
          <mat-label>Network Mac ID</mat-label>
          <mat-chip-list #macIdList aria-label="IP selection">
            <mat-chip *ngFor="let macID of DataArray[ix].macIDs" [selectable]="selectable"
                     [removable]="removable" (removed)="removeMacID(macID, ix)">
              {{macID.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input formControlName="propertyMacAddress" placeholder="Mac ID"
                   [matChipInputFor]="macIdList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addMacID($event,ix)">
          </mat-chip-list>
        
        </mat-form-field>
        </div>
        </div>
        <div class="content">
        
          <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="fx_starRating">
            <div fxFlex="100%">
              Ratings
            </div>
            <div fxFlex="100%" fxLayout="row wrap" fxLayout.lt-sm="column">
          <div fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-star-rating [rating]="DataArray[ix].rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event , ix)"></mat-star-rating>

            <star-rating-comp [starType]="'svg'" [rating]="4"></star-rating-comp>
          </div>
          <div fxFlex="60%"  fxFlex.xs="100%"  fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="end end" >
            <button  mat-button type="button"  class="border btnProperty btnAddMoreGroup themecolor" (click)="removeX(ix)"><i class="fas fa-minus"></i>Remove Property</button>
            </div>
          </div>

         
            </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
 
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="end end" >
    <button  mat-button type="button" class="border btnProperty btnAddMoreGroup themecolor" [autofocus]="false" (click)="addX()"><i class="fas fa-plus"></i>Add Property</button>
    </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button  mat-button type="button" class="border btnProperty" (click)="onNoClick()">Back</button>
    <button  mat-button type="button"  class="border btnProperty" (click)="resetForm()">Reset</button>
    <button type="submit" mat-button class="button btnProperty">Save</button>
 
</mat-dialog-actions>
</form>
