
<h2 mat-dialog-title>
    <div fxFlex="100%" fxLayout="row wrap" class="headercontainer" fxLayout.lt-sm="column">
<div fxFlex="75%" fxFlex.xs="100%"><i class="fas fa-arrow-left themecolor titlearrowicon"   (click)="close()" style="font-size: 24px;"></i> View Holding Company</div>
<div fxFlex="25%" fxFlex.xs="100%" class="headerAction">
    <div fxFlex="50%" fxFlex.sm="40%" fxLayout="row wrap" class="editcontainer">
        <div fxFlex="100%">
            <i class="fas fa-pencil-alt themecolor fxcursor_pointer" (click)="editCompany()"></i>
        </div>
        <div fxFlex="100%" class="headeredittext fxcursor_pointer" (click)="editCompany()">
            Edit
        </div>
     
    </div>
    <div fxFlex="50%" fxFlex.sm="40%" fxLayout="row wrap">
        <div fxFlex="100%">
            <i class="far fa-trash-alt themecolor fxcursor_pointer" (click)="delete()"></i>
        </div>
        <div fxFlex="100%" class="headerdeletetext fxcursor_pointer" (click)="delete()">
            Delete
        </div>
      
    </div>
    
   </div>
    </div>
   
</h2>
<mat-dialog-content  class="mat-typography">

    <div>
      <div class="content-0">
        
       
      <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
          <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
              <div fxFlex="100%" class="labeltext">
                  Code
              </div>
              <div fxFlex="100%">
              {{holdingCompanyObj.code}}
            </div>
           
            </div>
            <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
                <div fxFlex="100%" class="labeltext">
                    Name
                </div>
                <div fxFlex="100%">
                    {{holdingCompanyObj.name}}
              </div>
             
              </div>
              <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
                <div fxFlex="100%" class="labeltext">
                    Address
                </div>
                <div fxFlex="100%">
                    {{holdingCompanyObj.address}}
              </div>
             
              </div>
          </div>
      </div>
      <div class="content">
        
       
        <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
            <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
                <div fxFlex="100%" class="labeltext">
                    Country
                </div>
                <div fxFlex="100%">
                    {{holdingCompanyObj.countryName}}
              </div>
             
              </div>
              <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
                  <div fxFlex="100%" class="labeltext">
                      State
                  </div>
                  <div fxFlex="100%">
                    {{holdingCompanyObj.stateName}}
                </div>
               
                </div>
                <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
                  <div fxFlex="100%" class="labeltext">
                      City
                  </div>
                  <div fxFlex="100%">
                    {{holdingCompanyObj.cityName}}
                </div>
               
                </div>
                <div fxFlex="22%" fxFlex.xs="100%" fxLayout="row wrap">
                    <div fxFlex="100%" class="labeltext">
                        Zip/Pin
                    </div>
                    <div fxFlex="100%">
                        {{holdingCompanyObj.zipCode}}
                  </div>
                 
                  </div>
            </div>
        </div>
        <div class="content">
        
       
            <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
                <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
                    <div fxFlex="100%" class="labeltext">
                        Phone Number
                    </div>
                    <div fxFlex="100%">
                        {{holdingCompanyObj.phoneNumber}}
                  </div>
                 
                  </div>
                 
                </div>
            </div>
      </div>
      </mat-dialog-content>