<form [formGroup]="editGroupForm" (submit)="submitForm()">
    <h2 mat-dialog-title>
        <div fxFlex="100%" fxLayout="row wrap" class="headercontainer" fxLayout.lt-sm="column">
    <div fxFlex="70%" fxFlex.xs="100%"><i class="fas fa-arrow-left themecolor titlearrowicon"   (click)="close()" style="font-size: 24px;"></i> View Sub Group</div>
    <div fxFlex="30%" fxFlex.xs="100%" class="headerAction">
        <div fxFlex="33%"  fxLayout="row wrap" class="cancelcontainer">
            <div fxFlex="100%">
                <i class="fas fa-times themecolor cancelicon" (click)="close()" ></i>
            </div>
            <div fxFlex="100%" class="headercanceltext" (click)="close()">
                Cancel
            </div>
         
        </div>
        <div fxFlex="33%"  fxLayout="row wrap">
            <div fxFlex="100%">
               <i class="far fa-check-circle themecolor saveicon" (click)="submitForm()"></i>
            </div>
            <div fxFlex="100%" class="headersavetext" (click)="submitForm()">
               Save
            </div>
          
        </div>
        <div fxFlex="33%"  fxLayout="row wrap" class="disablecontainer">
            <div fxFlex="100%">
                <i class="far fa-trash-alt themecolor deleteicon"></i>
            </div>
            <div fxFlex="100%" class="e_headerdeletetext">
                Delete
            </div>
          
        </div>
        
       </div>
        </div>
       
    </h2>
    
    
        <mat-dialog-content  class="mat-typography">
        
          <div>
            <div class="content"  >
                <div fxFlex="100%"  fxLayout="column wrap" fxLayoutGap="7px" >
                    <div fxFlex="25%"  style="font-size: 12px;opacity:0.7">
                      Holding Company
                    
                      </div>
                      <div fxFlex="25%">
                        {{groupData.holdingCompanyName}}
                        </div>
                      
                      </div>
                      <div fxFlex="100%"  fxLayout="column wrap" fxLayoutGap="7px" >
                          <div fxFlex="25%"  style="font-size: 12px;opacity:0.7">
                              Group
                             
                               </div>
                      <div fxFlex="25%" >
                        {{groupData.parentGroupName}}
                        </div>
                      
                    </div>
          </div>
          <div class="content">
             
            <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="fx_border_bottom" >
                <div fxFlex="80%" fxFlex.xs="75%" fxFlex.sm="100%" class="fx_subgroup_head">
                  Sub Group {{groupData.subGroupIndex+1}}           
                  </div>
                 
                  
                </div>
          </div>
            <div class="content-0">
              
             
            <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
                <div fxFlex="24%" fxFlex.xs="100%">
                    <mat-form-field [style.width.%]="100" floatLabel="always"> 
                        <mat-label>Code</mat-label>
                        <input matInput  placeholder="Code" formControlName="groupCode" >
                        <mat-error
                        *ngIf="editGroupForm.get('groupCode').hasError('required')">
                        Code is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="24%" fxFlex.xs="100%">
                    <mat-form-field [style.width.%]="100" floatLabel="always"> 
                        <mat-label>Name</mat-label>
                        <input matInput #input placeholder="Name" formControlName="groupName">
                        <mat-error
                        *ngIf="editGroupForm.get('groupName').hasError('required')">
                        Name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="48%" fxFlex.xs="100%" >
                    <mat-form-field [style.width.%]="100" floatLabel="always"> 
                        <mat-label>Address</mat-label>
                        <input matInput #input placeholder="Address" formControlName="groupAddress">
                        <mat-error
                        *ngIf="editGroupForm.get('groupAddress').hasError('required')">
                        Address is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="content">
                <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="form-input-row">
                    <div fxFlex="24%" fxFlex.xs="100%" >
                        <mat-form-field  [style.width.%]="100" floatLabel="always">
                            <mat-label>Country</mat-label>
                            <mat-select [(ngModel)]="country" (selectionChange)="getStateList($event.value,false)" formControlName="groupCountry">
                                 <mat-option  [value]="0">Selec Country</mat-option>
                              <mat-option *ngFor="let country of countryList" [value]="country.countryID">{{country.countryName}}</mat-option>
                            
                          </mat-select>
        
                          <mat-error
                          *ngIf="editGroupForm.get('groupCountry').hasError('min')">
                          Country is <strong>required</strong>
                        </mat-error>
                    
                  
                        </mat-form-field>
                      </div>
                      <div fxFlex="24%" fxFlex.xs="100%">
                        <mat-form-field [style.width.%]="100" floatLabel="always"> 
                            <mat-label>State</mat-label>
                            <mat-select [(ngModel)]="state" (selectionChange)="getCityList($event.value,false)" formControlName="groupState">
                              <mat-option  [value]="0">Select State</mat-option>
                                <mat-option *ngFor="let state of stateList" [value]="state.stateID">{{state.stateName}}</mat-option>
                            </mat-select>
                                  <mat-error
                          *ngIf="editGroupForm.get('groupState').hasError('min')">
                          State is <strong>required</strong>
                        </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="24%" fxFlex.xs="100%">
                        <mat-form-field [style.width.%]="100" floatLabel="always"> 
                            <mat-label>City</mat-label>
                            <mat-select [(ngModel)]="city" formControlName="groupCity">
                              <mat-option  [value]="0">Select City</mat-option>
                                <mat-option *ngFor="let city of cityList" [value]="city.cityId">{{city.name}}</mat-option>
                            </mat-select>
                            <mat-error
                            *ngIf="editGroupForm.get('groupCity').hasError('min')">
                            City is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="22%" fxFlex.xs="100%">
                        <mat-form-field [style.width.%]="100" floatLabel="always"> 
                            <mat-label>Pin/Zip</mat-label>
                            <input matInput #input placeholder="Pin/Zip" formControlName="groupPinZip">
                            <mat-error
                            *ngIf="editGroupForm.get('groupPinZip').hasError('required')">
                            PinZip is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
        </div>
        <div class="content">
            <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
                
                  <div fxFlex="24%" fxFlex.xs="100%">
                    <mat-form-field [style.width.%]="100" floatLabel="always"> 
                        <mat-label>Phone Number</mat-label>
                        <input matInput #input placeholder="Phone Number" formControlName="groupPhone">
                        <mat-error
                        *ngIf="editGroupForm.get('groupPhone').hasError('required')">
                        Phone Number is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
        </div>
        
          
        
        </div>
        
        </mat-dialog-content>
    </form>
    