<app-loader *ngIf="isProgressing" [msg]="loaderMessage"></app-loader>


<div>
    <h1 class="page_heading margin-padding-none">{{TRANSLATE.GEM.Hotel_Title}}</h1>
    <app-breadcrumb [breadCrumbList]="breadCrumb"></app-breadcrumb>
</div>
<!-- numbersOnly -->
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="0px grid">
      
      <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
      
           <mat-card>
      
              <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout="row"  fxLayout.lt-sm="column"   fxLayoutGap="15px">
                  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">
                    <mat-form-field [style.width.%]="100" floatLabel="always"> 
                        <mat-label>Hodling Company</mat-label>
                        <input type="text"
                        placeholder="Holding Company"
                        aria-label="Number"
                        matInput
                        [formControl]="companyAutoCompleteControl"
                        [matAutocomplete]="auto" [(ngModel)]="SelectedHoldingCompany">
         
                      
                        <span class="fas fa-search searchspanicon themecolor"></span>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option  (click)="OnCompanySelected(SelectedHoldingCompany)" *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.holdingCompanyName}}
                          </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div fxFlex="75%" fxFlex.xs="100%" fxLayout="row wrap" fxFlex.sm="50%">
                    <div fxFlex="7%" fxFlex.sm="33%" fxFlex.xs="33%" (click)="viewCompany()">
                        <i class="fas fa-ellipsis-h themecolor iconSize moreicon fxcursor_pointer"></i><br/>
                        <div class="themecolor moretext fxcursor_pointer">More</div>
                    </div>
                    <div fxFlex="7%" fxFlex.sm="33%" fxFlex.xs="33%" (click)="addHoldingCompnay()">
                        <i class="fas fa-plus themecolor  createicon"></i><br/>
                        <div class="themecolor createtext">Create</div>
                    </div>
                    <div fxFlex="7%" fxFlex.sm="33%" fxFlex.xs="33%" (click)="showHirarchy()">
                        <i class="fas fa-sitemap themecolor  createicon"></i><br/>
                        <div class="themecolor createtext">Hierarchy</div>
                    </div>
                  </div>
              </div>
       
           
        
        
          </mat-card>
        </div>
    </div>
  </div>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="24px grid">
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="fxa_group">
        <mat-card class="mat-elevation-z4">
          <mat-card-header class="titleBorder">
              <div fxFlex="100%">
                  <div fxFlex="90%">
                      Group
                  </div>
                  <div fxFlex="10%">
                      <i class="fas fa-plus themecolor  groupCreateIcon" (click)="addGroup()"></i><br/>
            <div class="themecolor createtext">Create</div>
                  </div>
              </div>
          
          
          </mat-card-header>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="radioParentGroup">
            <div fxLayout="row wrap" fxFlex="100%" *ngIf="companyGroupList?.length > 0"  class="fxa_group_container" fxLayout.lt-sm="column" >
            
              <ng-container *ngFor="let group of companyGroupList; let i=index" >
               
              <div fxFlex="100%"  class="fxa_group_item" *ngIf="group.hasChildGroup">
                <mat-accordion >
          
                  <mat-expansion-panel hideToggle="true" class="mat-elevation-z0" (opened)="group.panelOpenState = true"
                                       (closed)="group.panelOpenState = false">
                    <mat-expansion-panel-header #panelH (click)="panelH._toggle()">
                      <mat-panel-title>
                <div fxFlex="100%" fxLayout="row wrap" fxLayout.lt-sm="column">
                  <div fxFlex="45%" fxFlex.xs="100%">
                    <mat-radio-button value="{{group.groupID}}"  (change)="parentGroupChange($event,group)"><span style="font-size: 11px;opacity: 0.7">Group {{i+1}}</span><br/><span style="font-size: 12px;">{{group.name}}</span></mat-radio-button>
                    </div>
                    <div fxFlex="54%" fxFlex.xs="100%">
                      <div fxFlex="22%" fxFlex.xs="20%">
                        <i class="fas fa-ellipsis-h themecolor iconSize moreicon " (click)="viewGroup(group)"></i><br/>
                        <div class="themecolor moretext" (click)="viewGroup(group)">More</div>
                    </div>
                    <div fxFlex="20%">
                      <i class="fas fa-plus themecolor  createicon" (click)="addSubGroup(group)"></i><br/>
                              <div class="themecolor createtext">Sub Group</div>
                  </div>
                  <div fxFlex="74%" fxLayoutAlign="end" (click)="panelH._toggle()" >
                    
                    <i  *ngIf="!group.panelOpenState" class="fas fa-angle-down themecolor iconSize moreicon"></i>
                    <i *ngIf="group.panelOpenState" class="fas fa-angle-up themecolor iconSize moreicon"></i>
                </div>
                    </div>
                   
                </div>
                
                
                </mat-panel-title>
              </mat-expansion-panel-header>
            
                <mat-radio-group aria-label="Select an option"  class="subGroupRadio" [(ngModel)]="radioParentGroup"> 
                  <ng-container *ngFor="let childGroup of group.childGroupList; let b=index" >
                   
            <div fxFlex="100%" class="fxa_sub_group_item" fxLayout="row wrap" [class.subGroupSelected]="childGroup.groupID==radioParentGroup"> 
              <div fxFlex="37%" fxFlex.xs="78%" style="margin-left: 5%;" >
                <mat-radio-button value="{{childGroup.groupID}}"  (change)="childGroupChange($event,childGroup,group)"><span style="font-size: 11px;opacity: 0.7">Sub Group {{b+1}}</span><br/><span style="font-size: 12px;">{{childGroup.name}}</span></mat-radio-button>
                </div>
                <div fxFlex="10%" fxFlex.xs="12%" >
                  <i class="fas fa-ellipsis-h themecolor iconSize moreicon fxcursor_pointer" (click)="viewSubGroup(childGroup,group,b)"></i><br/>
                  <div class="themecolor moretext fxcursor_pointer" (click)="viewSubGroup(childGroup,group,b)">More</div>
              </div>
            
            </div>
      
          </ng-container>
            </mat-radio-group>
        
          </mat-expansion-panel>
        </mat-accordion>
              </div>
              
             
              <div fxFlex="100%" *ngIf="!group.hasChildGroup"   fxLayout="row wrap"  class="fxa_group_item" fxLayout.lt-sm="column">
                <div fxFlex="42%" fxFlex.xs="100%">
                <mat-radio-button value="{{group.groupID}}" (change)="parentGroupChange($event,group)"><span style="font-size: 11px;opacity: 0.7">Group {{i+1}}</span><br/><span style="font-size: 12px;">{{group.name}}</span></mat-radio-button>
                </div>
                <div fxFlex="57%" fxFlex.xs="100%">
                  <div fxFlex="20%" >
                    <i class="fas fa-ellipsis-h themecolor iconSize moreicon fxcursor_pointer" (click)="viewGroup(group)"></i><br/>
                    <div class="themecolor moretext fxcursor_pointer" (click)="viewGroup(group)">More</div>
                </div>
                <div fxFlex="20%" >
                  <i class="fas fa-plus themecolor  createicon" (click)="addSubGroup(group)"></i><br/>
                          <div class="themecolor createtext">Sub Group</div>
              </div>
                </div>
              
              </div>
              </ng-container>
              
            </div>
          </mat-radio-group>
    
          <img mat-card-image class="fxam_imgHeight" *ngIf="companyGroupList?.length < 1" src="./assets/image/group.png">
      
    
        </mat-card>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="fxa_property"  >
          <mat-card class="mat-elevation-z4" fxLayout="column">
            <div fxFlex="100%" >
              <mat-card-header class="titleBorder"> 
                <div fxFlex="100%">
                    <div fxFlex="40%" fxFlex.xs="50%">
                        Property
                    </div>
                    <div fxFlex="50%" fxFlex.xs="30%" fxLayoutAlign="end start" fxLayoutGap="10px">
                      <div fxFlex="80%">
                        <mat-form-field [style.width.%]="100" floatLabel="always" *ngIf="searchEnable && propertyData?.length > 1" style="margin-top: -15px;"> 
                            <mat-label></mat-label>
                            <input  matInput #input placeholder="Search by name" [(ngModel)]="searchText">
                            <!-- <mat-error
                            *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
                            Phone Number is <strong>required</strong>
                          </mat-error> -->
                        </mat-form-field>
                      </div>
                      <div fxFlex="20%" >
                     
                      <i class="fas fa-search themecolor  groupCreateIcon" (click)="showSearch()" *ngIf="propertyData?.length > 1" ></i><br/>
            <div class="themecolor createtext" *ngIf="propertyData?.length > 1" (click)="showSearch()">Search</div>
                  </div>
                    </div>
                    <div fxFlex="10%" fxFlex.xs="20%">
                        <i class="fas fa-plus themecolor  groupCreateIcon" (click)="addProperty()"></i><br/>
              <div class="themecolor createtext">Create</div>
                    </div>
                </div>
              </mat-card-header>
            </div>
            <div fxLayout="row wrap" fxFlex="100%" class="fxa_group_container" fxLayout.lt-sm="column"  >
              <ng-container *ngFor="let property of propertyData | filter:searchText; let i=index" >
            <div fxFlex="100%" fxLayout="row wrap"  class="fxa_group_item" fxLayout.lt-sm="column">

              <div fxFlex="30%" fxFlex.xs="100%">
              <span style="font-size: 11px;opacity: 0.7">Property {{i+1}}</span><br/><span style="font-size: 12px;">{{property.name}}</span>
              </div>
              <div fxFlex="25%" fxFlex.xs="100%" fxLayout="row wrap">
                <div fxFlex="60%" fxFlex.xs="30%">
                  <span style="font-size: 11px;opacity: 0.7">Code</span><br/><span style="font-size: 12px;">{{property.code}}</span>
              </div>
                <div fxFlex="40%" fxFlex.xs="30%">
                  <i class="fas fa-ellipsis-h themecolor iconSize moreicon fxcursor_pointer" (click)="viewProperty(property,i)"></i><br/>
                  <div class="themecolor moretext fxcursor_pointer" (click)="viewProperty(property,i)">More</div>
              </div>
              </div>
            
             
            
            </div>
          </ng-container>
       
            <img  height="100%" class="fxam_imgHeight" *ngIf="propertyData?.length < 1" src="./assets/image/property.png">
          </div>
        
          </mat-card>
        </div>
    </div>
  </div>
  <mat-card>
    <div fxLayout="row wrap" fxFlex="100%"  fxLayoutAlign="end end" fxLayoutGap="3% grid">
        
        
        <div fxFlex="10%" fxFlex.xs="50%">
            <button  mat-button  class="border btnProperty">Back</button>
        </div>
        <div fxFlex="10%" fxFlex.xs="50%">
            <button  mat-button class="button btnProperty">Save</button>
        </div>
       
      
    </div>
  </mat-card>

  

