.network-ip-chip-list{
    width:100%;
  }
 
@import '../../../../config.scss';


.fx_subgroup_head{
   
    font-weight: 550;
}
.fx_formGroup{
    
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.themecolor{
  color:$primary-color;
}
.iconSize{
  font-size: 24px;
}
.fx_border_bottom{
  border-bottom: 1.5px solid #949494;
  padding-bottom: 5px;

  margin-bottom: 10px;
}

