<app-loader *ngIf="isProgressing" [msg]="loaderMessage"></app-loader>


<div>
    <h1 class="page_heading margin-padding-none">List - User</h1>
    <app-breadcrumb [breadCrumbList]="breadCrumb"></app-breadcrumb>
</div>

<div class="user-landing"  fxLayout="column wrap">
    

   
    <div fxFlex="100%" fxLayout="row wrap">
        <mat-card fxFlex="100%" fxLayout="row wrap" style="padding-left: 0px !important;">
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout="row"  fxLayout.lt-sm="column"   fxLayoutGap="15px">
                <div fxFlex="75%" fxFlex.xs="100%" fxLayout="row wrap" fxFlex.sm="50%" fxLayoutAlign="end start" class="disableicon" style="opacity: 0.5;"> 
                   
                    <div fxFlex="7%" fxFlex.sm="33%" fxFlex.xs="33%" >
                        <i class="fas fa-trash-alt   createicon"></i><br/>
                        <div class="createtext">Delete</div>
                    </div>
                    <div fxFlex="7%" fxFlex.sm="33%" fxFlex.xs="33%" >
                        <i class="fas fa-sitemap   createicon" (click)="showHirarchy()"></i><br/>
                        <div class="createtext" (click)="showHirarchy()">Hierarchy</div>
                    </div>
                  </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxLayoutGap="25px" fxLayout.lt-xs="column">
                  <mat-form-field [style.width.%]="90" floatLabel="always"> 
                      <mat-label>Search User Name/ Holding company/ Group/ Property</mat-label>
                      <input type="text"
                      placeholder="User Name"
                      aria-label="Number"
                      matInput
                      [formControl]="searchMoviesCtrl"
                      [matAutocomplete]="auto"  [(ngModel)]="SelectedUserProduct"
                     >
                     <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isLoading">
                          <mat-option *ngFor="let movie of filteredMovies" [value]="movie" (click)="OnUserProductSelect(SelectedUserProduct)">
                            <span><b>{{movie.firstName}}</b>- ({{movie.companyName}})</span>
                          </mat-option>
                        </ng-container>
                      </mat-autocomplete>
       
                    
                      <span class="fas fa-search searchspanicon themecolor"></span>
                  
                  </mat-form-field>
                  <div fxFlex="10%"  >
                    <i class="fas fa-ellipsis-v themecolor iconSize moreicon fxcursor_pointer"></i><br/>
                    <div class="themecolor moretext fxcursor_pointer">More</div>
                </div>
                </div>
               
            </div>
        
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout="column"  fxLayout.lt-sm="column"   fxLayoutGap="15px">
               

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- Checkbox Column -->
                    <!-- <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container> -->
                
                    <!-- Position Column -->
                    <ng-container matColumnDef="companyName">
                        <th mat-header-cell *matHeaderCellDef> Holding Company </th>
                        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="groupName">
                        <th mat-header-cell *matHeaderCellDef> Group </th>
                        <td mat-cell *matCellDef="let element"> {{element.groupName}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="propertyName">
                        <th mat-header-cell *matHeaderCellDef> Property </th>
                        <td mat-cell *matCellDef="let element"> {{element.propertyName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="userID">
                        <th mat-header-cell *matHeaderCellDef> User ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.userID}}</td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="loginID">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.loginID}}</td>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="accessID">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element"> <mat-slide-toggle></mat-slide-toggle> </td>
                    </ng-container>
                
                     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> 
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewUser(row)" style="cursor: pointer;"> 
                    </tr> 
                </table>
    <div fxFlex="100%">
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
        <!-- <mat-paginator-goto [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons></mat-paginator-goto> -->
      
        <div class="icon btnusercreate fxcursor_pointer" id="bigplus" (click)="CreateUser()" style="padding:0px 32px;"></div>
    </div>

</div>
</mat-card>
    <p>&nbsp;</p>

</div>
    <!-- numbersOnly -->
 
    
    <mat-card>
        <div class="container no_padding" fxLayout="row wrap" fxFlex="100%"  fxLayoutAlign="end end">
            <div fxFlex="10%" fxFlex.xs="100%">
            <button mat-button class="border" style="padding:0px 32px;">Back</button>
            </div>
        </div>
    </mat-card>
</div>

