@import '../../../config.scss';
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.mat-header-cell{
    font-weight: bold;
    color:#000;
    
}
.searchspanicon {
    float: right;
    margin-right: 6px;
    margin-top: -15px;
    position: relative;
    z-index: 2;
    
}
.disableicon{
    opacity: 0.5;
}
.iconSize{
    font-size: 24px;
}
.searchspanicon {
    float: right;
    margin-right: 6px;
    margin-top: -15px;
    position: relative;
    z-index: 2;
    
}

.moretext{
    font-size: 10px;
  
}
.moreicon{
    margin-left: 5px;
}
.createicon{
    font-size: 20px;
   
    cursor:pointer;
}
.createtext{
    font-size: 10px;
    margin-top: -2px;
    margin-left: -5px;
    cursor:pointer;
}
.no_margin{
    margin: 0px;
}
#wrap {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  .icon:before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
    font-size: 30px;
    color: white;
    background: #D53030;
  }
  .btnusercreate{
      position: absolute;
      right:21%;
      bottom:24%;
  }
  #plus:before {
    content: '+';
  }
  #bigplus:before {
    content: '\FF0B';
  }