@import '../../../../config.scss';
li {
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 2em;
    border-radius: 1.5em;
    background: $primary-color;
    margin: 0 8em;
    display: inline-block;
    color: white;
    position: relative;
   
  }
  li div{
    z-index: 2 !important;
    position:relative;
    margin-top: 5px;
  }
  li .steptext{
    color: $primary-color;
    position: absolute;
    top:50px;
    line-height: 10px;
    left:-50px;
    width:150px;
    
  }
  li::before{
    content: '';
    position: absolute;
    top: 1.3em;
    left: -16em;
    width: 16em;
    height: .2em;
    background:$primary-color;
    
  }
  
  
  
  li:first-child::before {
    display: none;
  }
  
  .active {
    background: $primary-color;
  }
  
  .active ~ li .steptext {
    color: #B5B5B5;
    width:200px;
    text-align: left;
    left:-50px;
    
  }
  .active ~ li {
    background: #B5B5B5;
  }
  
  
  .active ~ li::before {
    background: #B5B5B5;
  }
  
  body {
    font-family: sans-serif;
    padding: 2em;
  }
  .profile_pic{
    max-width: 100%;
    max-height: 70px;
    border:2px dotted $primary-color;
    padding: 1px;
  
  }
  .lable_txt{
    font-size: 11px;
     opacity:0.7;
  }
  .iconSize{
    font-size: 20px;
  }
  .icon:before {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
    font-size: 30px;
    color: white;
    background: #D53030;
  }
  .btnusercreate{
      position: relative;
      margin: 10px 0px;
    
  }
  #plus:before {
    content: '+';
  }
  #bigplus:before {
    content: '\FF0B';
  }
  @media screen and (max-width: 768px) {
    li {
  
      margin: 0 3em;
    }
    li::before{
      left: -6em;
      width: 6em;
  
    }
  }
  
  @media screen and (max-width: 325px) {
    li {
  
      margin: 0 2em;
    }
    li::before{
      left: -4em;
      width: 4em;
  
    }
  }