
<div>
    <h1 class="page_heading margin-padding-none">{{TRANSLATE.GEM.DB_CON_Title}}</h1>
    <app-breadcrumb [breadCrumbList]="breadCrumb"></app-breadcrumb>
</div>

<form [formGroup]="dbConfigForm" (ngSubmit)="onSubmit(dbConfigForm.value)">


<div class="db-config"  fxLayout="column wrap">
    

   
    <div fxFlex="100%" fxLayout="row wrap">

        <br>
          <mat-card fxFlex="100%" fxLayout="row wrap" style="padding: 16px 0px !important;">

            <div fxFlex="100%"  fxLayout="row wrap" >
                <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="form-input-row" style="padding: 10px;">
                    <div fxFlex="24%" fxFlex.xs="100%" >
                        <mat-form-field  [style.width.%]="100" floatLabel="always">
                            <mat-label>HoldingCompany</mat-label>
                            <mat-select placeholder="Select Company" (selectionChange)="getCompanyGroupList($event.value)" formControlName="holdingCompany">
                              
                              <mat-option *ngFor="let holdingCompany of holdingCompanyList" [value]="holdingCompany.holdingCompanyID">{{holdingCompany.name}}</mat-option>
                            
                          </mat-select>
        
                          <mat-error
                          *ngIf="dbConfigForm.get('holdingCompany').hasError('required')">
                          Company is <strong>required</strong>
                        </mat-error>
                    
                  
                        </mat-form-field>
                      </div>
                      <div fxFlex="24%" fxFlex.xs="100%">
                        <mat-form-field [style.width.%]="100" floatLabel="always"> 
                            <mat-label>Group</mat-label>
                            <mat-select placeholder="Select Group" (selectionChange)="getPropertyList($event.value)" formControlName="group">
                             
                                <mat-option *ngFor="let group of groupList" [value]="group.groupID">{{group.name}}</mat-option>
                            </mat-select>
                                  <mat-error
                          *ngIf="dbConfigForm.get('group').hasError('required')">
                          Group is <strong>required</strong>
                        </mat-error>
                        </mat-form-field>
                      </div>
                      <div fxFlex="24%" fxFlex.xs="100%">
                        <mat-form-field [style.width.%]="100" floatLabel="always"> 
                            <mat-label>Property</mat-label>
                            <mat-select placeholder="Select Property" formControlName="property" (selectionChange)="getProductByProperty($event.value)">                      
                                <mat-option *ngFor="let property of propertyList" [value]="property.propertyID">{{property.name}}</mat-option>
                            </mat-select>
                            <mat-error
                            *ngIf="dbConfigForm.get('property').hasError('required')">
                            Property is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    
                    </div>
                    <div fxFlex="100%"  fxLayout="row wrap"  class="form-input-row"  *ngIf="dbConfigForm.controls.products['controls'].length > 0">
            <h2 style="padding:0px 20px;">Product List</h2>
          
              <div fxFlex="100%" class="DBheader" fxLayout="row wrap">
<div fxFlex="20%">
    Product
</div>
<div fxFlex="20%">
    Live
</div>
<div fxFlex="20%">
    Username
</div>
<div fxFlex="20%">
    Password
</div>
<div fxFlex="20%">
    DBName
</div>
              </div>
              <div formArrayName="products" fxFlex="100%">

              
              <div  *ngFor="let product of dbConfigForm.controls.products['controls']; let i = index" formGroupName="{{i}}"  class="DBRow" fxLayout="row wrap">
                <div fxFlex="20%">
                    <div style="margin: 10px 20px;">
                        {{product.controls['productName'].value}}
                    </div>
                  
                </div>
                <div fxFlex="20%">
                    <mat-form-field  floatLabel="always"> 
                        <mat-label></mat-label>
                       
                        <input matInput #input placeholder="Live" formControlName="live">
                      
                    
                        <!-- <mat-error
                        *ngIf="property['controls'].propertyCheckIn.hasError('required')">
                        CheckIn  is <strong>required</strong>
                        </mat-error> -->
                        
                    </mat-form-field>
                </div>
                <div fxFlex="20%">
                    <mat-form-field  floatLabel="always"> 
                        <mat-label></mat-label>
                       
                        <input matInput #input placeholder="Username" formControlName="username">
                      
                    
                        <!-- <mat-error
                        *ngIf="property['controls'].propertyCheckIn.hasError('required')">
                        CheckIn  is <strong>required</strong>
                        </mat-error> -->
                        
                    </mat-form-field>
                </div>
                <div fxFlex="20%">
                    <mat-form-field  floatLabel="always"> 
                        <mat-label></mat-label>
                       
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <!-- <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                        </button>
                      
                    
                        <!-- <mat-error
                        *ngIf="property['controls'].propertyCheckIn.hasError('required')">
                        CheckIn  is <strong>required</strong>
                        </mat-error> -->
                        
                    </mat-form-field> 
                </div>
                <div fxFlex="20%">
                    <mat-form-field  floatLabel="always"> 
                        <mat-label></mat-label>
                       
                        <input matInput #input placeholder="DBName" formControlName="dbName">
                      
                    
                        <!-- <mat-error
                        *ngIf="property['controls'].propertyCheckIn.hasError('required')">
                        CheckIn  is <strong>required</strong>
                        </mat-error> -->
                        
                    </mat-form-field>
                </div>
                              </div>
                            </div>
              </div>
            </div>
              <br>
         
              </mat-card>
    <p>&nbsp;</p>

</div>
    <!-- numbersOnly -->
 
    
    <mat-card>
        <div fxLayout="row wrap" fxFlex="100%"  fxLayoutAlign="end end" fxLayoutGap="3% grid">
            
            
            <div fxFlex="10%" fxFlex.xs="50%">
                <button  mat-button  class="border btnProperty">Back</button>
            </div>
            <div fxFlex="10%" fxFlex.xs="50%">
                <button type="submit"  mat-button class="button btnProperty">Save</button>
            </div>
           
          
        </div>
      </mat-card>
</div>
</form>

