.btnProperty{
    
    width: 100%;
    }
   
    .DBheader{
        background:#F5F5F5;
        padding:10px;
        font-weight: bold;
        font-size: 12px;
    }
    .DBRow{
       
        padding:10px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
    
       
    }