



<h2 mat-dialog-title>Create User</h2>
<app-link-product  [holdingCompanyID]="holdingCompanyID"  [holdingCompanyName]="holdingCompanyName" [userID]="savedUserID" *ngIf="linkProperty"></app-link-product>

  <form [formGroup]="createUserForm" *ngIf="!linkProperty">
<mat-dialog-content  class="mat-typography">

  <div>
    <div class="content">
      <div fxFlex="100%" fxLayoutAlign="center center">
        <ul style="margin-top: 0px;">
          <li class="active"><div>1</div><div class="steptext">User Details</div></li>
          <li><div>2</div><div class="steptext">Link Property / Product</div></li>
        
        </ul>  
      </div>
    </div>
    <div class="content">
      <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="fx_border_bottom" >
          <div fxFlex="80%" fxFlex.xs="75%" fxFlex.sm="100%" class="fx_subgroup_head">
              Basic           
            </div>
            <div fxFlex="18%" fxFlex.xs="20%" fxLayoutAlign="end" >
                
        
             
          </div>
            
          </div>
    </div>
    <div class="content-0">
      
     
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
     
          <div fxFlex="49%" fxFlex.xs="100%" >
        
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>Search Holding company/ Group/ Property<span class="redColor">*</span></mat-label>
              <input type="text"
              placeholder="Holding Company Name"
              aria-label="Number"
              matInput
              formControlName="holdingCompanyName"
              [matAutocomplete]="auto"  [(ngModel)]="SelectedCompany" 
             >
             <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let holdingCompany of holdingCompanies" [value]="holdingCompany" (click)="OnCompanySelect(SelectedCompany)">
                    <span>{{holdingCompany.companyName}}</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            
             <mat-error
             *ngIf="createUserForm.get('holdingCompanyName').hasError('required')">
             HoldingCompany is <strong>required</strong>
           </mat-error>
            
              <span class="fas fa-search searchspanicon themecolor"></span>
          
          </mat-form-field>
          </div>
          <div fxFlex="24%" fxFlex.xs="100%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Alias<span class="redColor">*</span></mat-label>
                <input matInput  placeholder="Alias" formControlName="alias" >
                <mat-error
                *ngIf="createUserForm.get('alias').hasError('required')">
            Alias is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="22%" fxFlex.xs="100%">
            <mat-form-field  [style.width.%]="100" floatLabel="always">
              <mat-label>Title<span class="redColor">*</span></mat-label>
              <mat-select placeholder="Select Title" formControlName="title">
                <mat-option *ngFor="let title of titleList" [value]="title.titleID">{{title.name}}</mat-option>            
            </mat-select>
            <mat-error
            *ngIf="createUserForm.get('title').hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
            </mat-form-field>

          </div>
        </div>
    </div>
    <div class="content">
        <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="form-input-row">
            <div fxFlex="24%" fxFlex.xs="100%" >
              <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Last Name</mat-label>
                <input matInput #input placeholder="Last Name" formControlName="lastName">
                <mat-error
                *ngIf="createUserForm.get('lastName').hasError('required')">
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
              </div>
              <div fxFlex="24%" fxFlex.xs="100%">
                <mat-form-field [style.width.%]="100" floatLabel="always"> 
                  <mat-label>Middle Name</mat-label>
                  <input matInput #input placeholder="Middle Name" formControlName="middleName">
                  <!-- <mat-error
                  *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
                  PinZip is <strong>required</strong>
                </mat-error> -->
              </mat-form-field>
             
              </div>
              <div fxFlex="24%" fxFlex.xs="100%">
                <mat-form-field [style.width.%]="100" floatLabel="always"> 
                  <mat-label>First Name</mat-label>
                  <input matInput #input placeholder="First Name" formControlName="firstName">
                  <!-- <mat-error
                  *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
                  PinZip is <strong>required</strong>
                </mat-error> -->
              </mat-form-field>
              </div>
              <div fxFlex="22%" fxFlex.xs="100%">
                <mat-form-field [style.width.%]="100" floatLabel="always"> 
                  <mat-label>Gender</mat-label>
                  <mat-select placeholder="Select Gender" formControlName="gender">
                    <mat-option *ngFor="let gender of genderList" [value]="gender.genderID">{{gender.name}}</mat-option>
                      <!-- <mat-option *ngFor="let state of stateList" [value]="state.stateID">{{state.stateName}}</mat-option> -->
                  </mat-select>
                        <mat-error
                *ngIf="createUserForm.get('gender').hasError('min')">
                Gender is <strong>required</strong>
              </mat-error>
              </mat-form-field>
              </div>
            </div>
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="form-input-row">
      <div fxFlex="24%" fxFlex.xs="100%" >
        <mat-form-field [style.width.%]="100" floatLabel="always"> 
          <mat-label>Designation</mat-label>
          <mat-select placeholder="Select User" formControlName="designation" >
            <mat-option *ngFor="let designation of designationList" [value]="designation.designationID">{{designation.name}}</mat-option>
            <!-- <mat-option *ngFor="let state of stateList" [value]="state.stateID">{{state.stateName}}</mat-option> -->
        </mat-select>
         
          <!-- <mat-error
          *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
          PinZip is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
        </div>
        <div fxFlex="24%" fxFlex.xs="100%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
            <mat-label>Department</mat-label>
            <mat-select placeholder="Select Department" formControlName="department">
             
                <mat-option *ngFor="let department of departmentList" [value]="department.departmentID">{{department.name}}</mat-option>
            </mat-select>
                  <!-- <mat-error
          *ngIf="addCompanyForm.get('holdingCompanyState').hasError('min')">
          State is <strong>required</strong>
        </mat-error> -->
        </mat-form-field>
       
        </div>
        <div fxFlex="24%" fxFlex.xs="100%" FxLayout="row wrap" class="fx_disable_focus">         
            <mat-form-field [style.width.%]="100" floatLabel="always" > 
              <mat-label>Valid From</mat-label>
          
              <mat-datepicker-toggle matSuffix [for]="validfrompicker" class="user_datepicker"></mat-datepicker-toggle>
                <input matInput #input placeholder="Valid From" [matDatepicker]="validfrompicker"  formControlName="userValidFrom">
              
                <mat-datepicker #validfrompicker></mat-datepicker>
              
             
         
              <!-- <mat-error
              *ngIf="property['controls'].propertyCheckIn.hasError('required')">
              CheckIn  is <strong>required</strong>
              </mat-error> -->
              
          </mat-form-field>
        
        </div>
        <div fxFlex="22%" fxFlex.xs="100%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
            <mat-label>Valid To</mat-label>
            <mat-datepicker-toggle matSuffix [for]="validtopicker" class="user_datepicker"></mat-datepicker-toggle>
            <input matInput #input placeholder="Valid To" [matDatepicker]="validtopicker"  formControlName="userValidTo">
          
            <mat-datepicker #validtopicker></mat-datepicker>
            <!-- <mat-error
            *ngIf="property['controls'].propertyCheckIn.hasError('required')">
            CheckIn  is <strong>required</strong>
            </mat-error> -->
            
        </mat-form-field>
        </div>
      </div>
</div>
<div class="content">
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">

          <div fxFlex="24%" fxFlex.xs="100%" fxLayout="row wrap">
            <div fxFlex="100%" class="lable_txt">
              Profile Picture
            </div>
            <div fxFlex="100%" class="lable_txt">
              <input #file type="file" accept='image/*' (change)="preview(file.files)" formControlName="profilePicture" />
            </div>
            <div fxFlex="100%">
  
<img [src]="imgURL"  *ngIf="imgURL" class="profile_pic" >
              <img src="./assets/image/avatar.jpg" *ngIf="!imgURL" class="profile_pic" />
            </div>
            <div fxFlex="100%" class="lable_txt">
              Max File Size is 1 MB. Use JPG or PNG
            </div>
          
            
          </div>
          <div fxFlex="73%" fxFlex.xs="100%"  fxLayout="row wrap">
            <div fxFlex="100%" fxLayoutGap="15px" >
            <div fxFlex="33%" fxFlex.xs="100%">
              <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>User</mat-label>
                <mat-select placeholder="User Type" formControlName="userType" >
                  <mat-option *ngFor="let userType of userTypeList" [value]="userType.userTypeID">{{userType.name}}</mat-option>
                  <!-- <mat-option *ngFor="let state of stateList" [value]="state.stateID">{{state.stateName}}</mat-option> -->
              </mat-select>
                <!-- <mat-error
                *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
            </div>
            <div fxFlex="33%" fxFlex.xs="100%">
              <mat-form-field [style.width.%]="100" floatLabel="always"> 
                  <mat-label>Login ID<span class="redColor">*</span></mat-label>
                  <input matInput #input placeholder="Login ID" formControlName="loginID">
                  <mat-error
                  *ngIf="createUserForm.get('loginID').hasError('required')">
                  LoginID is <strong>required</strong>
                </mat-error>
                  <!-- <mat-error
                  *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
                  Phone Number is <strong>required</strong>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div fxFlex="30%" fxFlex.xs="100%">
              <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Password Expiry</mat-label>
                <mat-select placeholder="Password Expiry" formControlName="passwordExpiry">
                  <mat-option *ngFor="let passwordExpiry of passWorldExpiryList" [value]="passwordExpiry.passWordExpiryVal">{{passwordExpiry.name}}</mat-option>
                  <!-- <mat-option *ngFor="let state of stateList" [value]="state.stateID">{{state.stateName}}</mat-option> -->
              </mat-select>
                <!-- <mat-error
                *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
            </div>
          </div>
       
         
        <div fxFlex="100%">
          <div FxFlex="100%" style="font-size: 12px;opacity: 0.5;">
            Authorized For License
          </div>
          <div FxFlex="100%">
            <mat-radio-group aria-label="Select an option" formControlName="isAuthorizedLicense">
              <mat-radio-button value="1">Yes</mat-radio-button>
              <mat-radio-button value="0">No</mat-radio-button>
            </mat-radio-group>
          </div>
          </div>
        </div>
         
      </div>
</div>

  <div class="content">
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="fx_border_bottom" >
        <div fxFlex="80%" fxFlex.xs="75%" fxFlex.sm="100%" class="fx_subgroup_head">
          Access controllers <i class="fas fa-info  cancelicon" matTooltip="Mac ID information"  ></i>         
          </div>
          <div fxFlex="18%" fxFlex.xs="20%" fxLayoutAlign="end" >
              
      
           
        </div>
          
        </div>
  </div>
  <div class="content-0">
      
     
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
     
          <div fxFlex="49%" fxFlex.xs="100%" >
          
            <mat-form-field class="network-ip-chip-list user-chip" floatLabel="always">
           
              <mat-label>Network Mac ID </mat-label>   
            
             
              <mat-chip-list #macIdList aria-label="IP selection">
                <mat-chip *ngFor="let macID of macIDs" [selectable]="selectable"
                         [removable]="removable" (removed)="removeMacID(macID)">
                  {{macID.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input  placeholder="Mac ID"
                       [matChipInputFor]="macIdList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addMacID($event)" formControlName="propertyMacID">
              </mat-chip-list>
           
            </mat-form-field>
  
            
             
          
          
          </div>
   
          <div fxFlex="49%" fxFlex.xs="100%" fxLayout="column wrap" fxLayoutGap="15px">
            <mat-form-field class="network-ip-chip-list user-chip" floatLabel="always">
              <mat-label>Property Network IP</mat-label>  
              <mat-chip-list #chipList aria-label="IP selection">
                <mat-chip *ngFor="let netWorkIP of networkIPs" [selectable]="selectable"
                         [removable]="removable" (removed)="removeNetworkIP(netWorkIP)" >
                  {{netWorkIP.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input  placeholder="Network IP"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addNetworkIP($event)" formControlName="propertyNetworkIP">
              </mat-chip-list>
              <mat-error>Atleast 1 ip need to be added</mat-error>
            </mat-form-field>
         
         
        
          </div>
        </div>
    </div>
  <div class="content">
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="fx_border_bottom" >
        <div fxFlex="80%" fxFlex.xs="75%" fxFlex.sm="100%" class="fx_subgroup_head">
            Official Contact           
          </div>
          <div fxFlex="18%" fxFlex.xs="20%" fxLayoutAlign="end" >
              
      
           
        </div>
          
        </div>
  </div>
  <div class="content">
    <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
        
          <div fxFlex="48%" fxFlex.xs="100%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Address</mat-label>
                <textarea matInput rows="4"  placeholder="Address" style="margin-top:9px;" formControlName="officeAddress"></textarea>
                <!-- <mat-error
                *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
          </div>
          <div fxFlex="50%" fxFlex.xs="100%"  fxLayout="row wrap">
            <div fxFlex="100%" fxLayoutGap="15px" >
            <div fxFlex="50%" fxFlex.xs="100%">
              <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>Country</mat-label>
                <mat-select placeholder="Select Country" (selectionChange)="getStateList($event.value,'O')" formControlName="officeCountry">
                     
                  <mat-option *ngFor="let country of countryList" [value]="country.countryID">{{country.countryName}}</mat-option>
                </mat-select>
            
                <!-- <mat-error
                *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
            </div>
           
            <div fxFlex="50%" fxFlex.xs="100%">
              <mat-form-field [style.width.%]="100" floatLabel="always"> 
                <mat-label>State</mat-label>
                <mat-select placeholder="Select State" (selectionChange)="getCityList($event.value,'O')" formControlName="officeState">
                     
                  <mat-option *ngFor="let state of offcialStateList" [value]="state.stateID">{{state.stateName}}</mat-option>
                </mat-select>
                <!-- <mat-error
                *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
                Phone Number is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
            </div>
          </div>
       
         
        <div fxFlex="100%" fxLayoutGap="15px">
          <div fxFlex="50%" fxFlex.xs="100%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>City</mat-label>
              <mat-select placeholder="Select State"  formControlName="officeCity">
                     
                <mat-option *ngFor="let city of officialCityList" [value]="city.cityId">{{city.name}}</mat-option>
              </mat-select>
              <!-- <mat-error
              *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          </div>
         
          <div fxFlex="50%" fxFlex.xs="100%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>Zip / Postal Code</mat-label>
              <input matInput #input placeholder="Phone Number" formControlName="officePostalCode"> 
              <!-- <mat-error
              *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          </div>
          </div>
        </div>
         
      </div>
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap"  class="form-input-row">
      <div fxFlex="24%" fxFlex.xs="100%" style="margin-right: 15px !important;">
        <mat-form-field [style.width.%]="20" floatLabel="always"> 
          <mat-label>Mobile</mat-label>
          <mat-select placeholder="Select Code"  formControlName="officeMobileCountryCode">
                     
            <mat-option *ngFor="let country of countryList" [value]="country.isdCode">{{country.isdCode}}</mat-option>
          </mat-select>
          
          <!-- <mat-error
          *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
          PinZip is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <mat-form-field [style.width.%]="75" floatLabel="always" style="margin-left:10px;"> 
        <mat-label></mat-label>
  
        <input matInput #input placeholder="Mobile" formControlName="officeMobileNumber">
        <!-- <mat-error
        *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
        PinZip is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
        </div>
        <div fxFlex="24%" fxFlex.xs="100%" >
          <mat-form-field [style.width.%]="20" floatLabel="always"> 
            <mat-label>Phone</mat-label>
            <mat-select placeholder="Select Code"  formControlName="officePhoneCountryCode">
                     
              <mat-option *ngFor="let country of countryList" [value]="country.isdCode">{{country.isdCode}}</mat-option>
            </mat-select>
            
            <!-- <mat-error
            *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
            PinZip is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        <mat-form-field [style.width.%]="75" floatLabel="always" style="margin-left:10px;"> 
          <mat-label></mat-label>
    
          <input matInput #input placeholder="Phone NO" formControlName="officePhoneNo"> 
          <!-- <mat-error
          *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
          PinZip is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
       
        </div>
        <div fxFlex="25%" fxFlex.xs="100%" style="margin-right:10px;">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
            <mat-label>Extension</mat-label>
            <input matInput #input placeholder="Extension" formControlName="officeExtension">
            <!-- <mat-error
            *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
            PinZip is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        </div>
        <div fxFlex="24%" fxFlex.xs="100%" >
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
            <mat-label>Email</mat-label>
            <input matInput #input placeholder="Email" formControlName="officeEmail"> 
                  <!-- <mat-error
          *ngIf="addCompanyForm.get('holdingCompanyState').hasError('min')">
          State is <strong>required</strong>
        </mat-error> -->
        </mat-form-field>
        </div>
      </div>
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px" class="fx_border_bottom" >
      <div fxFlex="80%" fxFlex.xs="75%" fxFlex.sm="100%" class="fx_subgroup_head">
          Personal Contact           
        </div>
        <div fxFlex="18%" fxFlex.xs="20%" fxLayoutAlign="end" >
            
    
         
      </div>
        
      </div>
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
      
        <div fxFlex="48%" fxFlex.xs="100%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>Address</mat-label>
              <textarea matInput rows="4"  placeholder="Address" style="margin-top:9px;" formControlName="personalAddress"></textarea>
              <!-- <mat-error
              *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%"  fxLayout="row wrap">
          <div fxFlex="100%" fxLayoutGap="15px" >
          <div fxFlex="50%" fxFlex.xs="100%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>Country</mat-label>
              <mat-select placeholder="Select Country" (selectionChange)="getStateList($event.value,'p')" formControlName="personalCountry">
                     
                <mat-option *ngFor="let country of countryList" [value]="country.countryID">{{country.countryName}}</mat-option>
              </mat-select>
          
              <!-- <mat-error
              *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          </div>
         
          <div fxFlex="50%" fxFlex.xs="100%">
            <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>State</mat-label>
              <mat-select placeholder="Select State" (selectionChange)="getCityList($event.value,'p')" formControlName="personalState">
                     
                <mat-option *ngFor="let state of personalStateList" [value]="state.stateID">{{state.stateName}}</mat-option>
              </mat-select>
              <!-- <mat-error
              *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
          </div>
        </div>
     
       
      <div fxFlex="100%" fxLayoutGap="15px">
        <div fxFlex="50%" fxFlex.xs="100%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
            <mat-label>City</mat-label>
            <mat-select placeholder="Select State"  formControlName="personalCity">
                     
              <mat-option *ngFor="let city of personalCityList" [value]="city.cityId">{{city.name}}</mat-option>
            </mat-select>
            <!-- <mat-error
            *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
            Phone Number is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        </div>
       
        <div fxFlex="50%" fxFlex.xs="100%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
            <mat-label>Zip / Postal Code</mat-label>
            <input matInput #input placeholder="Phone Number" formControlName="personalPostalCode">
            <!-- <mat-error
            *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
            Phone Number is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        </div>
        </div>
      </div>
       
    </div>
</div>
<div class="content">
<div fxFlex="100%"  fxLayout="row wrap"  class="form-input-row">
    <div fxFlex="24%" fxFlex.xs="100%" style="margin-right: 15px !important;">
      <mat-form-field [style.width.%]="20" floatLabel="always"> 
        <mat-label>Mobile</mat-label>
          <mat-select placeholder="Select Code"  formControlName="personalMobileCountryCode">
                     
        <mat-option *ngFor="let country of countryList" [value]="country.isdCode">{{country.isdCode}}</mat-option>
      </mat-select>
        
        <!-- <mat-error
        *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
        PinZip is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
    <mat-form-field [style.width.%]="75" floatLabel="always" style="margin-left:10px;"> 
      <mat-label></mat-label>

      <input matInput #input placeholder="Mobile" formControlName="personalMobileNumber">
      <!-- <mat-error
      *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
      PinZip is <strong>required</strong>
    </mat-error> -->
  </mat-form-field>
      </div>
      <div fxFlex="24%" fxFlex.xs="100%" >
        <mat-form-field [style.width.%]="20" floatLabel="always"> 
          <mat-label>Phone</mat-label>
          <mat-select placeholder="Select Code"  formControlName="personalPhoneCountryCode">
                     
            <mat-option *ngFor="let country of countryList" [value]="country.isdCode">{{country.isdCode}}</mat-option>
          </mat-select>
            
       
          
          <!-- <mat-error
          *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
          PinZip is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      <mat-form-field [style.width.%]="75" floatLabel="always" style="margin-left:10px;"> 
        <mat-label></mat-label>
  
        <input matInput #input placeholder="Phone NO" formControlName="personalPhoneNumber">
        <!-- <mat-error
        *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
        PinZip is <strong>required</strong>
      </mat-error> -->
    </mat-form-field>
     
      </div>
      <div fxFlex="25%" fxFlex.xs="100%" style="margin-right:10px;">
        <mat-form-field [style.width.%]="100" floatLabel="always"> 
          <mat-label>Extension</mat-label>
          <input matInput #input placeholder="Extension" formControlName="personalExtension">
          <!-- <mat-error
          *ngIf="addCompanyForm.get('holdingCompanyPinZip').hasError('required')">
          PinZip is <strong>required</strong>
        </mat-error> -->
      </mat-form-field>
      </div>
      <div fxFlex="24%" fxFlex.xs="100%" >
        <mat-form-field [style.width.%]="100" floatLabel="always"> 
          <mat-label>Birth Date</mat-label>
         
          <mat-datepicker-toggle matSuffix [for]="birthDatepicker" class="user_datepicker"></mat-datepicker-toggle>
          <input matInput #input placeholder="Birth Date" [matDatepicker]="birthDatepicker" formControlName="userBirthDate" [formControl]="birthDate">
        
          <mat-datepicker #birthDatepicker></mat-datepicker>
          
      </mat-form-field>
      </div>
    </div>
</div>
<div class="content">
  <div fxFlex="100%"  fxLayout="row wrap" fxLayoutGap="15px">
      
        <div fxFlex="48%" fxFlex.xs="100%">
          <mat-form-field [style.width.%]="100" floatLabel="always"> 
              <mat-label>Remarks</mat-label>
              <textarea matInput rows="2"  placeholder="Remarks" formControlName="remarks" ></textarea>
              <!-- <mat-error
              *ngIf="addCompanyForm.get('holdingCompanyPhone').hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        </div>
        </div>

</div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button  mat-button type="button" class="border btnProperty" (click)="onNoClick()">Back</button>
    <button  mat-button class="button btnProperty" type="submit" (click)="SaveContinue()">Save & Continue</button>
    <button  mat-button class="button btnProperty" type="submit" (click)="SaveContinue()">Save</button>
 
</mat-dialog-actions>
</form>
